@model ArtGallery.Models.Artist.ArtistVM

@{
    ViewData["Title"] = "Create";
}

<div>
    <a asp-action="Index"><i class="bi bi-arrow-90deg-left"></i></a>
</div>
<br />

<h1>Add an Artist</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearBorn" class="control-label"></label>
                <input asp-for="YearBorn" class="form-control" />
                <span asp-validation-for="YearBorn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <textarea asp-for="Biography" class="form-control"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}